CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# Custom partition table needed for embedded TTF font
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Use LVGL Kconfig settings instead of lv_conf.h
CONFIG_LV_CONF_SKIP=y

# Fonts used by CYDDisplayConsumer
CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_MONTSERRAT_48=y

# Bump FreeRTOS tick to 1 ms so esp_lvgl_port 5 ms timer is accurate
CONFIG_FREERTOS_HZ=1000


# Color logs 
CONFIG_BOOTLOADER_LOG_COLORS=y