# CONFIG_ESPTOOLPY_FLASHSIZE_8MB
# CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

# Custom partition table needed for embedded TTF font
# CONFIG_PARTITION_TABLE_CUSTOM=y
# CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# Use LVGL Kconfig settings instead of lv_conf.h
CONFIG_LV_CONF_SKIP=y

# Fonts used by ILvglDisplayConsumer
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_FONT_MONTSERRAT_48=y

# LVGL Configuration
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_USE_PERF_MONITOR=n
CONFIG_LV_USE_MEM_MONITOR=n

# FreeRTOS Configuration
CONFIG_FREERTOS_HZ=1000

# Color logs 
CONFIG_BOOTLOADER_LOG_COLORS=y